<?xml version="1.0" encoding="utf-8"?>
<launch>

 <include file="$(find gazebo_ros)/launch/empty_world.launch">   
    <arg name="world_name" value="$(find world_mission)/worlds/cesena_map.world"/>
    <arg name="paused" value="false"/>
    <arg name="use_sim_time" value="true"/>
    <arg name="gui" value="true"/>
    <arg name="headless" value="false"/>
    <arg name="debug" value="false"/>
  </include>

  <param name="mountain_description"
	 command="$(find xacro)/xacro.py '$(find world_mission)/urdf-xml/cesena_map/cesena_map.urdf.xml'"/>

  <param name="initial_package" type="string" value="knowrob_map_data" />
  <param name="initial_goal" type="string" value="owl_parse('package://world_mission/owl/cesena_map.owl')" />
  <node name="json_prolog" pkg="json_prolog" type="json_prolog_node" cwd="node" output="screen" />


  
<node pkg="tf" type="static_transform_publisher" name="map_world" args="0 0 0 0 0 220 1 /world /map 100"/>

<node pkg="tf" type="static_transform_publisher" name="cesena_map_map2" args="0 0 0 0 0 0 1 /map /map_link 100"/>

<node pkg="tf" type="static_transform_publisher" name="cesena_map_map3" args="1.5 8.5 0 0 0 0 1 /map_link /mountain_link 100"/>

<node pkg="tf" type="static_transform_publisher" name="cesena_map_map4" args="7.0 6.5 0 0 0 0 1 /map_link /house_link 100"/>

<node pkg="tf" type="static_transform_publisher" name="cesena_map_map5" args="2.0 1.0 0 0 0 0 1 /map_link /wood_link 100"/>

<node pkg="tf" type="static_transform_publisher" name="cesena_map_map6" args="5.0 4.5 0 0 0 0 1 /map_link /river_link 100"/>



</launch>
